$color: royalblue;
.container {
  h1 {
    color: $color;
    background-color: orange;
    font-size: 60px;
  }
}

.container {
  > ul {
      li {
        font-size: 40px;
        .name {
          color: royalblue;
        }
        .age {
          color: orange;
       }
    }
  }
}

// ----------------------------------------------

// & 상위 선택자 참조

.btn {
  position: absolute;
  &.active {
    color: red;
  }
}

.list {
  li {
    &:last-child {
      margin-right: 0;
    }
  }
}

//----------------------------------------------

.fs {
  &-small { font-size: 12px; }
  &-medium { font-size: 14px; }
  &-large { font-size: 16px; }
}

// ----------------------------------------------

// 중첩된 속성

.box {
  font: {
    weight: bold;
    size: 10px;
    family: sans-serif;
  };
  margin: {
    top: 10px;
    left: 20px;
  };
  padding: {
    top: 10px;
    bottom: 40px;
    left: 20px;
    right: 30px;
  }
}

// ----------------------------------------------

// 변수 (Variables)

$size: 100px; // 전역 변수(전체)!!

.container {
  $size: 50px;
  position: fixed;
  top: $size;
  .item {
    $size: 150px;
    width: $size;
    height: $size;
    transform: translateX(100px);
  }
  left: $size;
}

// ----------------------------------------------

// 연산

div {
  $size: 30px;
  width: 20px + 20px;
  height: 40px - 10px;
  font-size: 10px * 2;
  margin: (30px / 2); // ()를 통해 나누기를 해야 연산이 가능함.
  margin: 15px + 6px / 2; // + - * 를 앞에 쓰므로써 /로 나누기 연산 가능
  margin: $size / 2; // 변수를 통해 나누기 연산 가능
  padding: 20px % 7;
}
span {
  font-size: 10px;
  line-height: 10px;
  font-family: serif;
  font: 10px / 10px serif; // 단축속성 /를 통해 앞은 font-size 뒤는 line-height를 표시 한다.
}

div {
  width: 100% - 200px; // 단위가 동일해야함. 단 calc() 함수를 통해 연산 가능
  width: calc(100% - 200px); 
}